
.phone{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background: #2C3E50;
}

.phone_white{
    position: absolute;
    left: 339px;
    top: 129px;
    z-index: 1;
}
.phone_black{
    position: relative;
    top: -30px;
    left: 491px;
}
.top-text > h2{
    color: white;
    position: relative;
    left: 976px;
    top: -705px;
    font-weight: 300;
    font-size: 36px;
    width: 560px;
}
.textphone{
    position: relative;
    left: 964px;
    top: -734px;
}

.top-text > p {
    color: white;
    position: relative;
    left: 975px;
    top: -731px;
    font-weight: 300;
    font-size: 18px;
    width: 593px;
    line-height: 1.67;
}

.top-text .btn-1 {
    position: relative;
    left: 975px;
    top: -705px;
    font-family: 'Lato', sans-serif;
}

.top-text .btn-2 {
    position: relative;
    left: 982px;
    top: -705px;
    font-family: 'Lato', sans-serif;
}
.right{
    position: relative;
    color: white;
    font-size: 12px;
    top: -909.3px;
    right: -1800px;
    border: 1px solid white;
    border-radius: 6px;
    padding: 17px 20px 16px 19px;
}
.right:hover{
    background-color: rgb(161, 177, 187);
}
.right.left:hover{
    background-color: rgb(161, 177, 187);
}
.right.left{
    position: relative;
    color: white;
    font-size: 12px;
    top: -909.3px;
    right: -19px;
    border: 1px solid white;
    border-radius: 6px;
    padding: 17px 20px 16px 19px;
}
.circle.white{
    position: relative;
    top: -497px;
    left: 808px;
}
.circle2.white{
    position: relative;
    top: -497px;
    left: 818px;
}
.circle3.white{
    position: relative;
    top: -497px;
    left: 856px;
}.outline{
    position: relative;
    top: -494px;
    left: 808px;
}

.featured-products {
    position: relative;
    top: -400px;
}

.featured-products-title {
    font-weight: 600;
    font-size: 36px;
    position: relative;
    bottom: 1px;
    left: 8px;
    letter-spacing: 0.25px;
    margin-bottom: 405px;
}

.featured-products-title span {
    font-weight: 300;
}

.product-item {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    left: 29.3px;
    top: 1px;
    display: inline-block;
    margin-right: 47px;
}

.product-item:last-child {
    margin-right: 0;
}

.product-item h3 {
    color: #2C3E50;
    font-size: 18px;
    letter-spacing: .25px
}

.product-item h4 {
    color: #1ABC9C;
    font-size: 10.5px;
}

.product-item h2 {
    font-size: 20px;
    position: relative;
    bottom: 3px;
}

.product-item button {
    border: 0;
    background: #A1B1BC;
    color: white;
    border-radius: 3px;
    padding: 6px 8px;
    margin-top: 20px;
    margin-right: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
}
.product-item button i {
    margin-right: 4px;
}

.product-item-highlighted {
    background: #2C3E50;
    color: white;
    padding: 0 0 20px 20px;
    position: relative;
    left: 10px;
}

.product-item-highlighted h3 {
    color: white;
}

.the-fox-brilliant-item {
    position: relative;
    top: -202px;
}

.the-fox-brilliant-item .shopping-basket-icon {
    background: #1ABC9C;
    padding: 28px;
    display: inline;
    border-radius: 50%;
    color: white;
    font-size: 28px;
    position: relative;
    top: 3px;
    left: 46px;
    float: left;
}

.the-fox-description {
    display: inline;
    position: relative;
    left: 92px;
    top: 8px;
    letter-spacing: 0.2px;
}

.the-fox-description h3 {
    font-size: 24px;
}

.the-fox-description p {
    font-size: 14px;
    color: #A1B1BC;
    width: 850px;
    position: relative;
    bottom: 16px;
    letter-spacing: -0.1px;
    word-spacing: 0.5px;
    line-height: 23px;
}
.purchase-the-fox{
    background: #34495E;
    font-size: 15px;
    padding: 23px 31px 22px 31px;
    color: white;
    text-transform: uppercase;
    position: relative;
    left: 952.4px;
    top: -96.7px;
    letter-spacing: -0.6px;
    font-weight: 600;
    border-radius: 14px;
}

.product-big {
    width: 100%;
    background: #CCCCCC;
    height: 600px;
    position: relative;
    top: -212px;
    left: 8px;
}

.product-big img {
    position: relative;
    top: 233px;
    left: 783.3px;
}

.product-big p {
    position: relative;
    top: 232px;
    left: 785px;
    font-size: 18px;
    color: #2C3E50;
    line-height: 1.05;
    
}

.hero3cam-button {
    position: relative;
    top: 244px;
    left: 786px;
    background: #2C3E50;
    color: white;
    border: 0;
    font-size: 18px;
    padding: 14px 26px 14px 30px;
    font-family: 'Lato';
}

.product-item-x {
    position: relative;
    top: -202px;
    left: 9px;
    display: inline-block;
}
.product-item.htcs
{
    position: relative;
    left: 10px;
    top: 0px;
}
.product-item-x-container {
    display: flex;
    justify-content: space-between;
}

.product-item-x-photo {
    background: #ccc; 
    width: 383px; 
    height: 200px;
    margin-right: 20px;
}

.product-item-x h3 {
    padding: 6px 29px;
    box-sizing: border-box;
    letter-spacing: -0.2px;
    position: relative;
    left: -1px;
}

.product-second {
    left: -1px;
}

.product-item-x p {
    font-size: 14px;
    padding: 0 29px;
    position: relative;
    top: -14.5px;
    left: 2px;
    line-height: 1.7;
    color: #A1B1BC;
}

.product-item-view-more {
    background: #1ABC9C;
    padding: 14px 248px 16px 20px;
    color: white;
    position: relative;
    top: 18px;
    letter-spacing: -0.6px;
}

.product-item-x:hover .product-item-x-photo {
    background: #1ABC9C;
}

.product-item-x:nth-child(2) {
    background: #2C3E50;
    color: #fff;
    width: 383px;
}

.featured-products-new {
    position: relative;
    top: -100px;
}

.featured-products-new .product-item h3 {

}
.mbar1,.mbar2,.mbar3{
    font-size: 20px;
    color: white;
    background-color: rgb(128, 220, 250);
    /* border: 1px solid white; */
    /* padding: 5px 5px 5px 5px; */
}
.mbar1{
    position: relative;
    left: -182px;
    top: 156px;
    padding: 2px 11px 2px 7px;
    border-radius: 3px;
}
.mbar2{
    position: relative;
    left: -278px;
    top: -435px;
    padding: 2px 11px 2px 7px;
    border-radius: 3px;
}
.mbar3{
    position: relative;
    left: -73px;
    top: 156px;
    padding: 2px 11px 2px 7px;
    border-radius: 3px;
}
.product-item.higligt{
    background: #2C3E50;
    color: white;
    padding: 0 0 20px 20px;
    left: 10px;
    top: 2.9px;
}
.product-item.higligt h3{
    color: white;
}
.product-item.higligt:hover{
    background-color: darkcyan;
}
.btn-group-btn.second{
    background: none;
    border: 1px solid white;
    border-radius: 4px;
}
.btn-group-btn.first{
    background-color: #1ABC9C;
}
.product-item.a{
    position: relative;
    top: -196px;
    left: 930px;
}
.product-item.sams{
    position: relative;
    top: 395.4px;
    left: -271px;
}
.product-item.appl{
    position: relative;
    top: 396.4px;
    left: -270px;
}
.product-item.watc{
    position: relative;
    top: 219.6px;
    left: 630.5px; 
}
.product-item.watc2{
    position: relative;
    top: 220.3px;
    left: 630px; 
}
.headline {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 270px;
    box-sizing: border-box;
    background: #E46960;
    height: 50px;
    align-items: center;
    padding: 0 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    position: relative;
    top: -362px;
    left: 10px;
}
.headline2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 270px;
    box-sizing: border-box;
    background: rgb(33, 194, 248);
    height: 50px;
    align-items: center;
    padding: 0 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    position: relative;
    top: -412px;
    left: 611.7px;
}
.headline h4 {
    font-weight: 400;
}


.sidebar{
    position: relative;
    left: 7px;
    top: 324px;
    height: 195px;
}

.sidebar2{
    position: relative;
    left: 8px;
    top: 329px;
    height: 195px;
}
.sidebar3{
    position: relative;
    left: 608px;
    top: -95px;
    height: 195px;
}
.sidebar4{
    position: relative;
    left: 610px;
    top: -69px;
    height: 195px;
}

.news-title {
    font-weight: 600;
    font-size: 36px;
    position: relative;
    bottom: -306.2px;
    left: 372px;
    letter-spacing: 0.75px;
}

.news-title span {
    font-weight: 300;
}
.blog-title h3 {
    padding: 6px 28px;
    box-sizing: border-box;
    position: relative;
    left: 667px;
    line-height: 25px;
    margin-top: -482px;
    width: 225px;
}
.blog-title p {
    font-size: 14px;
    padding: 0 29px;
    position: relative;
    top: -19.5px;
    left: 666px;
    line-height: 1.8;
    width: 232px;
    letter-spacing: 0.4px;
    color: #A1B1BC;
}
.blog-title.se{
    margin-top: 528.3px;
}
.blog-title.thi{
    margin-top: 308px;
    margin-left: 599px;
}
.hat{
    background-color: black;
    margin-top: 98px
    height: 673px;
}
.hat > .middle-pic{
    position: relative;
    margin-left: 302px;
    top: 246px;
}
.hhhat{
    width: 1325px;
}
.hat-text h3 {
    padding: 6px 28px;
    box-sizing: border-box;
    position: relative;
    left: 789px;
    line-height: 25px;
    margin-top: -289.2px;
    width: 358px;
    color: white;
    font-size: 28px;
    letter-spacing: 0.9px
}
.hat-text p {
    font-size: 14px;
    padding: 0 29px;
    position: relative;
    top: -20.5px;
    left: 694px;
    line-height: 1.8;
    width: 483px;
    color: #A1B1BC;
}
.hat-text > .sec{
    position: relative;
    top: -34px;
    left: 749px;
}

.but-1 {
    background: black;
    border: 1px solid white;
    padding: 13px 29px;
    color: white;
    font-weight: 700;
    font-size: 15;
    position: relative;
    left: 794px;
    top: -32px;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}

.but-2{
    background: rgb(33, 194, 248);
    border: none;
    padding: 13px 46px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    position: relative;
    left: 810px;
    top: -31px;
    font-family: 'Lato', sans-serif;
}
.cllick{
    width: 100px;
    margin-top: 11px;
    margin-left: 181px;
}
.cllick2{
    width: 100px;
    margin-top: 11px;
    margin-left: 1355px;
    position: relative;
    top: -7px;
}
.minimum h3 {
    padding: 6px 28px;
    box-sizing: border-box;
    position: relative;
    left: 349px;
    line-height: 25px;
    margin-top: 97.3px;
    width: 658px;
    color: black;
    font-size: 36px;
}
.minimum .h3-second{
    top: -136px;
    left: 947px;
}
.minimum .f-box{
    
}
.o-s{
    color: black;
    top: -117px;
    position: relative;
    letter-spacing: -0.8px;
    left: 374.1px;
    border: 1px solid lightgrey;
    padding: 6px 434px 12px 15px;
}
.o-v{
    color: black;
    top: -95px;
    position: relative;
    letter-spacing: -0.8px;
    left: 374.1px;
    border: 1px solid lightgrey;
    padding: 6px 441px 12px 15px;
}
.o-v:hover{
    background: #1ABC9C;
}
.grey{
    position: relative;
    width: 503px;
    top: -74px;
    left: 374px;
    padding: 0 14px 0 6px;
    border: 1px solid lightgrey;
}
.o-t{
    color: black;
    top: -63px;
    position: relative;
    letter-spacing: -0.8px;
    left: 374.1px;
    border: 1px solid lightgrey;
    padding: 10px 418px 12px 15px;
}
.second-section > .text22 > .h3-1{
    color: black;
    font-size: 16px;
    top: -393px;
    position: relative;
    letter-spacing: -0.8px;
    left: 976.1px;
    border: 1px solid lightgrey;
    padding: 6px 0px 6px 14px
}
.second-section > .text22 > .h3-2{
    color: black;
    font-size: 16px;
    top: -528px;
    position: relative;
    letter-spacing: -0.8px;
    left: 1105.1px;
    border: 1px solid lightgrey;
    padding: 6px 0px 6px 14px
}
.second-section > .text22 > .h3-3{
    color: black;
    font-size: 16px;
    top: -663px;
    position: relative;
    letter-spacing: -0.8px;
    left: 1247.4px;
    padding: 6px 0px 6px 14px
}
.second-section > .text22 > .h3-4{
    color: black;
    font-size: 16px;
    top: -797px;
    position: relative;
    letter-spacing: -0.8px;
    left: 1360.4px;
    padding: 6px 0px 6px 14px
}
.second-section > .text22 h3:hover{
    color: #1ABC9C;
}
.foxy{
    position: relative;
    width: 556px;
    top: -800px;
    left: 975px;
    border: 1px solid lightgrey;
    padding: 0 4px 6px 10px;
}